@model List<UserRolesViewModel>

@{ 
    var userId = ViewBag.UserId;
}

<form method="post">
    <div class="card thm-gray mt-3">
        <h3 class="card-header">
            Manage User Roles
        </h3>
        <div class="card-body">
            @for (int i = 0; i < Model.Count; i++)
            {
                <div class="form-check m-1">
                    <input type="hidden" asp-for="@Model[i].RoleId" />
                    <input type="hidden" asp-for="@Model[i].RoleName" />
                    <input asp-for="@Model[i].IsSelected" class="form-check-input" />
                    <label asp-for="@Model[i].IsSelected" class="form-check-label">
                        @Model[i].RoleName
                    </label>
                </div>
            }
            <div asp-validation-summary="All" class="text-danger"></div>
        </div>
        <div class="card-footer">
            <input class="btn btn-success" type="submit" value="Update" />
            <a asp-controller="Administration" asp-action="EditUser" asp-route-id="@userId"
               class="btn btn-outline-success">
                Cancel
            </a>
        </div>
    </div>
</form>
