@model UserClaimsViewModel

<form method="post">
    <div class="card thm-gray mt-3">
        <h3 class="card-header">
            Manage User Claims
        </h3>
        <div class="card-body">
            <input asp-for="@Model.UserId" type="hidden" />
            @for (int i = 0; i < Model.Claims.Count; i++)
            {
                <div class="form-check m-1">
                    <input asp-for="@Model.Claims[i].ClaimType" type="hidden" />
                    <input asp-for="@Model.Claims[i].IsSelected" class="form-check-input" />
                    <label asp-for="@Model.Claims[i].IsSelected" class="form-check-label">
                        @Model.Claims[i].ClaimType
                    </label>
                </div>
            }
            <div asp-validation-summary="All" class="text-danger"></div>
        </div>
        <div class="card-footer">
            <input class="btn btn-success" type="submit" value="Update" />
            <a asp-controller="Administration" asp-action="EditUser" asp-route-id="@Model.UserId"
               class="btn btn-outline-success">
                Cancel
            </a>
        </div>
    </div>
</form>
